* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);

    --Transparentwhite : hsla(0, 0%, 100%, 0.75); /*parrafos*/
    --Verylightgray : hsl(0, 0%, 95%); /*backgrounds, heads, btns*/

    --font-title: 'Big Shoulders Display', 'cursive';
    --font-body: 'Lexend Deca', 'sans-serif';

}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Verylightgray);
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__img {
    margin-top: .2rem;
    width: 80%;
}

.title__card {
    width: 80%;
    font-family: var(--font-title);
    font-size: 1.4rem;
    padding-bottom: 0.2em;
    color: var(--Verylightgray);
}

.card__paragraph {
    width: 80%;
    font-size: 0.8rem;
    font-family: var(--font-body);
    margin-bottom: 0.8rem;
    color: var(--Transparentwhite);
}

.card__btn {
    width: 60%;
    height: 100%;
    border: none;
    border-radius: 25px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.4rem;
}

.content__btn {
    width: 80%;
    display: flex;
    margin-bottom: 1rem;
}


.card--sedams {
    background-color: var(--Brightorange);
}

.card__btn--sedams {
    color: var(--Brightorange);
}

.card--suvs {
    background-color: var(--Darkcyan);
}

.card__btn--suvs {
    color: var(--Darkcyan);
}

.card--luxury {
    background-color: var(--Verydarkcyan);
}

.card__btn--luxury {
    color: var(--Verydarkcyan);
}

@media screen and (min-width: 480px) {
    .wrapper {
        width: 60%;
    }
}

@media screen and (min-width: 680px) {
    .wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 720px) {

    .content {
        flex-direction: row;
        justify-content: center;
    }

    .wrapper {
        height: 60%;
        width: 95%;
        flex-direction: row;
    }

    .title__card {
        font-size: 1.6rem;
    }

    .card {
        justify-content: space-evenly;
    }
}



@media screen and (min-width: 960px) {

    .wrapper {
        width: 98%;
    }

    .title__card {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 1020px) {

    .wrapper {
        width: 100%;
    }

    .title__card {
        font-size: 1.9rem;
    }
    
}