* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

@font-face {
    font-family: 'oufit';
    src: url('./font/Outfit-Regular.ttf');
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /*second colors*/
    --very-dark-blue : hsl(217, 54%, 11%); /*(main BG)*/
    --very-dark-blue-two : hsl(216, 50%, 16%); /*(card BG)*/
    --very-dark-blue-three : hsl(215, 32%, 27%); /*(line)*/
    --white: hsl(0, 0%, 100%);

    --font-body: 'oufit';

}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}

.card {
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: var(--very-dark-blue-two);
}

.card__content_image {
    width: 80%;
    height: 45%;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
}

.card__content_image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.card__image--effect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    opacity: 0.5;
    background-color: var(--cyan);
    z-index: 3;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card__content_image:hover > .card__image--effect {
    opacity: 0.6;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card__title {
    width: 100%;
    font-size: 0.9rem;    
    color: var(--white);
    font-family: var(--font-body);
    padding-bottom: 0.8em;
}

.card__title:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: var(--cyan);
}

.card__paragraph {
    width: 100%;
    font-size: 0.8rem;    
    color: var(--soft-blue);
    font-family: var(--font-body);
    padding-bottom: 1em;
}

.card__more_information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--very-dark-blue-three);
}

.card__price {
    font-size: 0.8rem; 
    font-family: var(--font-body);
    color: var(--cyan);
}

.card__date {
    display: inline-flex;
    font-size: 0.8rem; 
    font-family: var(--font-body);
    padding-top: 0.4em;
    color: var(--soft-blue);
}

.card__date, .card__price {
    padding-bottom: 1em;
}

.card__avatar {
    width: 80%;
    display: flex;
    align-items: center;
}

.card__content_avatar_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card__content_avatar_image img {
    height: 100%;
    width: 100%;
}

.card__name_avatar {
    font-size: 0.8rem;
    padding-left: 0.7em;
    font-family: var(--font-body);
    color: var(--soft-blue);
}

.card__name_avatar span {
    font-size: inherit;
    color: var(--white);
}

.card__name_avatar span:hover {
    cursor: pointer;
    color: var(--cyan);
}

@media screen and (min-width: 460px) {
    .card {
        width: 55%;
    }
}


@media screen and (min-width: 600px) {
    .card {
        width: 50%;
    }
}


@media screen and (min-width: 720px) {
    .card {
        width: 32%;
    }
}


@media screen and (min-width: 960px) {
    .card {
        width: 30%;
    }
}


@media screen and (min-width: 1020px) {
    .card {
        width: 26%;
    }
}
