* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    --font:  'Spartan', sans-serif;

}

.starts {
    display: inline-block;
    width: 85px;
    height: 20px;
    background-image: url('./images/icon-star.svg');
    background-repeat: repeat-x;
}

.content {
    height: 100vh;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.content__information, .content__comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.content__information_title {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.content__information_title h1 {
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--font);
    color: var(--Very-Dark-Magenta);
}

.content__information_title p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    color: var(--Dark-Grayish-Magenta);
}

.contet__starts {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starts__information {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: var(--Light-Grayish-Magenta);
}

.starts__information__start {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 50%;
}

.starts__information h3 {
    font-size: 0.8rem;
    font-family: var(--font);
    padding-bottom: 1em;
    color: var(--Very-Dark-Magenta);
    height: 40%;
}

.content__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    width: 95%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.8em;
    padding-top: 1.8em;
    padding-right: 1.8em;
    padding-left: 1.8em;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}

.comment__avatar {
    width: 90%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comment__avatar picture {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.comment__avatar picture > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.comment__avatar__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    height: 80%;
}

.comment__avatar__name h3 {
    font-size: 0.7rem;
    font-family: var(--font);
    color: var(--White);
    padding-bottom: 5px;
}

.comment__avatar__name {
    font-size: 0.6rem;
    font-family: var(--font);
    color: var(--Soft-Pink);
}

.comment__paragraph {
    font-family: var(--font);
    font-size: 0.8rem;
    font-weight: 200;
    width: 90%;
    text-align: left;
    color: var(--Light-Grayish-Magenta);
}

@media screen and (min-width: 480px ) {
    .comment {
        width: 80%;
    }

    .content__information {
        width: 80%;
        margin-bottom: 2.8rem;
    } 

}


@media screen and (min-width: 620px ) {
    .comment {
        width: 60%;
    }

    .content__information {
        width: 65%;
        margin-bottom: 3.2rem;
    } 

}

@media screen and (min-width: 620px ) {
    .comment {
        width: 55%;
    }

    .content__information {
        width: 60%;
        margin-bottom: 4rem;
    } 

}

@media screen and (min-width: 920px ) {

    .content__information, .content__comments {
        width: 95%; 
        height: 50%;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .contet__starts  {
        width: 50%;
        height: 100%;
    }

    .starts__information {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .content__information_title {
        width: 50%;
        height: 100%;
        margin: 0;
        padding-top: 1em;
        padding-left: 4em;
        align-items: flex-start;
    }

    .content__information_title h1 {
        width: 60%;
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .content__information_title p{
        width: 60%;
        text-align: left;
        font-size: 1rem;
    }

    .contet__starts {
        justify-content: space-evenly;
    }

    .starts__information {
        margin-bottom: 0;
        width: 65%;
    }

    .starts__information:nth-child(2) {
        margin-left: 3rem;
    }

    .starts__information:nth-child(3) {
        margin-left: 6rem;
    }

    .comment {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content__comments {
        justify-content: space-evenly;
    }

    .comment__paragraph {
        font-size: 0.8rem;
    }

    .comment:nth-child(1) {
        margin-top: -2rem;
    }

    .comment:nth-child(3) {
        margin-top: 2rem;
    }


}

@media screen and (min-width: 1020px ) {

    .content__information_title {
        width: 40%;
        height: 100%;
        margin: 0;
        padding-top: 3em;
        padding-left: 8em;
    }

    .content__information_title h1 {
        width: 60%;
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .content__information_title p{
        width: 80%;
    }


}